html {
    scroll-behavior: smooth;
}



body {
    font-family: var(--sansInter);
    font-size: var(----text-s--);
    line-height: 1.4;
    letter-spacing: -0.03rem;
    background-color: white;
    background-image: url('/assets/img/backgroundnuages.avif');
    color: black;
}

img[src*="/assets/img/"] {
    width: 309px;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3 {
    font-family: var(--headers-1-2-et-3);
    line-height: 1.1;
    margin: 0;
    color: transparent;
    background-image: linear-gradient(90deg,
            var(----bleu-degrade--),
            var(----violet-degrade--),
            var(----magenta-degrade--),
            var(----rose-degrade--),
            var(----orange-degrade--));
    background-clip: text;
    -webkit-background-clip: text;
    background-color: transparent;
    display: inline-block;
}