/* Concept carousel */
.concept {
    display: flex;
    flex-direction: column;
    gap: var(--space-3xl);
    padding: var(--space-4xl) var(--space-xl);
}

.concept__header {
    display: flex;
    align-items: center;
    gap: var(--space-lg);
}

.concept__title {
    margin: 0;
    font-size: var(----2xl-header--);
}

.concept__controls {
    margin-left: auto;
    display: flex;
    gap: var(--space-xl);
}

.concept__btn:active {
    transform: translateY(1px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}

.concept__icon {
    width: 40px;
    height: 40px;
}

.concept__slides {
    position: relative;
    max-width: 310px;
    margin: 0 auto;
    width: 100%;
}

.concept-card {
    display: none;
    flex-direction: column;
    gap: 0;
    width: 100%;
    overflow: hidden;
    border-radius: 28px;
}

.concept-card.is-active {
    display: flex;
}

.concept-card__image {
    width: 100%;
    height: 350px;
    border-radius: 28px 28px 0 0;
    object-fit: cover;
}

.concept-card__body {
    background: #f3eccf;
    color: black;
    width: 100%;
    box-sizing: border-box;
    padding: var(--space-4xl) var(--space-3xl);
    border-radius: 0 0 28px 28px;
}

.concept-card__title {
    margin: 0 0 var(--space-lg) 0;
    font-size: var(----xl-header--);
}

.concept-card__description {
    margin: 0;
    font-size: var(----text-l--);
    line-height: 1.4;
}

@media (min-width: 768px) {
    .concept {
        padding: var(--space-5xl) var(--space-4xl);
    }

    .concept__controls {
        gap: var(--space-2xl);
    }

    .concept-card__description {
        font-size: var(----text-xl--);
    }
}