.hero {
    background: url(/assets/icons/nuage-top-drones.avif), url(/assets/icons/nuage-bottom-drones.avif), linear-gradient(180deg, var(----orange-degrade--), var(----magenta-degrade--), var(----violet-degrade--));
    height: 52.875rem;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center, bottom center;
}

.header__logo-secondary {
    width: 15.625rem;
    height: auto;
    margin-bottom: 1.25rem;
}

.hero>h1 {
    color: white !important;
    text-shadow:
        -0.0625rem -0.0625rem 0 black,
        0.0625rem -0.0625rem 0 black,
        -0.0625rem 0.0625rem 0 black,
        0.0625rem 0.0625rem 0 black;
    margin: 0;
    background: none !important;
    -webkit-background-clip: unset !important;
    background-clip: unset !important;
    -webkit-text-fill-color: white !important;
}