.hero {
    background: linear-gradient(180deg, var(----orange-degrade--), var(----magenta-degrade--), var(----violet-degrade--));
    height: 846px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__logo-secondary {
    width: 250px;
    height: auto;
    margin-bottom: 20px;
}

.hero>h1 {
    color: white !important;
    text-shadow: 
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    margin: 0;
    background: none !important;
    -webkit-background-clip: unset !important;
    background-clip: unset !important;
    -webkit-text-fill-color: white !important;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 200px;
    background-image: url('/assets/icons/nuage-top.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    z-index: 0;
}

.hero::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    background-image: url('/assets/icons/nuage-bottom.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    z-index: 0;
}